body{
background:#F1EA7F;

}

#wrap{
  width:700px;
  margin:0px auto 15px auto;
  font-family:Comic Sans, Papyrus;
  font-size:12px;
  color: 	#006E6D;
}
/*header*/
#header{
height:242px;
margin:0px auto 15px auto;
  font-family:Comic Sans, Papyrus;
  color: 	#766F57;
  

}
