<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<html>
  <head>
    <title> this is title </title>
    <link href="CSS/style.css" rel="stylesheet" type="text/css" > 
    
    <style type="text/css">
      canvas{border: #666 1px solid;}
    </style>
     <script type="application/javascript" language="javascript">
      function draw(x,y){
        var canvas = document.getElementById('canvas');
        var ctx = canvas.getContext('2d');
        ctx.save();
        ctx.clearRect(0,0,550,400);
        ctx.fillStyle ="rgba(0,200,0,1)";
        ctx.fillRect (x,20,50,50);
        ctx.restore();
        x+=3;
        var loopTimer = setTimeout ('draw('+x+','+y+')',30);
      }
    </script> 
    
    <style>
      #div1, #div2{
      float:left;
        width: 150px;
        height:150px;
        margin:10px;
        padding:10px;
        border: 1px solid black;
      }
    </style>
    <script>
    function allowDrop(ev){
    ev.preventDefault();
    } 
      function drag(ev){
      ev.dataTransfer.setData("text", ev.target.id);
      }
      function drop(ev){
      ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
      ev.target.appendChild(document.getElementById(data));
      }
    
    </script>
    
    
    <script>
  function validateForm()
  {
    if(document.forms["myForm"]["fname"].value==null || document.forms["myForm"]["fname"].value=="")
    {alert("First name must be filled out");
     return false;
    }
    if(document.forms["myForm"]["lname"].value==null || document.forms["myForm"]["lname"].value=="")
    {alert("Last name must be filled out");
     return false;
    }
    if(document.forms["myForm"]["email"].value==null || document.forms["myForm"]["email"].value=="")
    {alert("E-mail must be filled out");
     return false;
    }
    if(document.forms["myForm"]["phone"].value==null || document.forms["myForm"]["phone"].value=="")
    {alert("Phone must be filled out");
     return false;
    }
    return true;
  }
      
    <!--  -->
    </script>
    <style>
      #map{width:400px; height:250px; float:left;}
    </style>
    <!--  -->
    
  </head>
  
  <body>
    <div id="wrap">
     <div id="topbar">
   <div id ="menus">
  <ul id ="topmenu">
    <li><class="active"><a href="#">Home </a>
    </li>
    <li><a href="#create">HTML5</a>
    </li>    
    <li><a href="#">Products </a>
    </li>    
    <li><a href="#table">Table </a></span>
    </li>    
    <li><a href="#contactus">Contact us </a>
    </li>

    </ul>
  </div> 
  </div>
<div id="header">
    </div>   

  <div id="content">
  <div id ="mainpage">
  
    
    <h1>Header1
     </h1>
    <h2 id="create">Header2:Creating your own HTML page
    </h2>         
         <p> This is paragraph.
     </p>
    <a href="" target ="_blank"> Link to unneccessary tab </a><br>
    <img src="images/nimetön.png" alt="hello" width="200" height="200"><br>
    
    <h2>Important raccoon video</h2>
    <iframe width="460" height="215" src="https://www.youtube.com/embed/Zt9zcTnW4R4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    <p>some lists next</p>
    <ul>
      <li> ulist1 </li>
      <li> ulist2 </li>
      <li> ulist3 </li>
      <li> ulist4 </li>
    </ul>
    <ol>
      <li> olist1 </li>
      <li> olist2 </li>
      <li> olist3 </li>
      <li> olist4 </li>
    </ol>
      <h2 id="table"> Html table </h2>
    
    <table>
      <caption>Just random info</caption>
      <tr>
        <th> First name </th>
        <th> Last name </th>
        <th> age </th>
      </tr>
      <tr>
        <td> Bob </td>
        <td> Bobson </td>
        <td> 60 </td>
      </tr>
        <tr>
        <td> Bill </td>
        <td> Billson </td>
        <td> 61 </td>
      </tr>
      <tr>
        <td> Bart </td>
        <td> Bartson </td>
        <td> 62 </td>
      </tr> 
      
    </table>
    
    <h2 id="contactus"> Contact us </h2>
    
    <form>
    First Name: <br><input type="text" name="fname"> <br>
    Last Name: <br><input type="text" name="lname"> 
      <br><br>I am a robot<br> 
      <input type="radio" name="robot" value="yes">Yes<br>
      <input type="radio" name="robot" value="no">No<br>
      <input type="radio" name="robot" value="dunno">I dounno <br>
    E-mail: <br><input type="text" name="email"><br>
    Phone: <br><input type="text" name="phone"><br>
      
    <input type="submit" value="Submit">
    </form>
    <h2> Form Validation Example </h2>
    
<form name="myForm" onsubmit="return validateForm()">
    First Name: <input type"text" name="fname"><br>
    Last Name: <input type"text" name="lname"><br>
    E-mail: <input type="text" name="email"><br>
    Phone: <input type="text" name="phone"><br>
  <input type="submit" value="Submit">
    </form>
    
    <h2> Click below to get your location </h2>
    <button onclick="showLocation()"> Click here! </button>
  
    <div id="map"></div>
    </p>
    
    <div id="map"></div>
    
    
    
    <!--  -->
    <script>
      function showLocation(){
      if(navigator.geolocation){
        navigator.geolocation.getCurrentPosition(showPosition);
      }
        else{
        alert("your browser does not support geolocation");
        }
      }
      function showPosition(position){
      alert("Latitude: "+ position.coords.latitude + " Longitude: "+position.coords.longitude);
      }
    </script>

    <!--  -->
    
    <button onclick="draw (0,0)">Draw</button>
    <canvas id="canvas" width="550" height "400"> </canvas> 
    
    
    <h2>Drag and Drop</h2>
    <p>Drag the image back and forth between the two div elements</p>
    <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
      <img src="https://github.com/vandalisaattori/www2018/blob/master/pesu.png?raw=true" draggable="true" 
           ondragstart="drag(event)" id ="drag1" width="128" height="128">
    </div>
    <div id="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    
    
    </div>
    </div>
  
<div id="footer">
  <p>  Copyright &copy;
    <script type="text/javascript">var ct=new Date();document.write(ct.getFullYear());</script>
  </p>
</div>
    </div>

 </body>
</html>
