body{
background:	#00CED1 url(www2018/images/bg.jpg) repeat-x;
}

#wrap{
  width:700px;
  margin:0px auto 15px auto;
  font-family:Papyrus;
  font-size:20px;
  color:#006E6D;
}
/*header*/
#header{
  height:242px;
  background:url(images/header.jpg) no-repeat left top;
 /* margin:0px auto 15px auto;
  font-family:Courier New, Papyrus;
  color:#766F57;*/
}
#topbar{
height:78px;
}

/*header menu*/
#topmenu{
  display:block;
  list-style:none;
  padding:0 0px 0px 278px;
  float:right;
  width:415px;
  
}
#topmenu li{
  display:inline;

}
#topmenu a {
  display:block;
  float:left;
  height:28px;
  margin:0px 0px 0px 0px; 
  text-decoration:none;
  padding:9px 15px 0px 15px; 
  text-align:center;
}
#topmenu a, #topmenu a:visited, #topmenu a:active {
  color:	#FFDAB9;
}
#topmenu a:hover{
  color:#FF7F50;
  background-color:#EEE8AA;
}
#topmenu .active a, #topmenu .active a:visited, #topmenu .active a:active {
  color:#FFDAB9;
  background-color:#00BFFF;
}
/*Content*/
#content { 
background-color:#FFEFD5	;
}
#mainpage {
  width:700px;
  float:left;
  padding: 5px 5px 5px 0px;
  height:auto;
}
#mainpage p {
  line-height:22px;
  margin:10px 0px 22px 0px;
  text-align: justify;
}
#mainpage blockquote{
background:#efefef;
  display:block;
  margin:5px;
  font:Georgia;
  font-style:italic;
}
h1,h2,h3,h4,h5{
  color:#green;
  font-weight: bold;
  font-family:Arial, sans-serif;
}
#mainpage h1 {
  font-size:24px;
  color:#B4d455
}
#mainpage h2{
  font-size:18px;
  padding-top:20px;
  padding-bottom:5px;
  border-bottom:1px solid #b52e10;
}
#mainpage h3{
  font-size:20px;
}
#mainpage h4{
  font-size:18px
}
#mainpage h5{
  font-size: 16px;
}
