body{
background: #FFFFFF url("https://raw.githubusercontent.com/vandalisaattori/www2018/master/images/bg.jpg") repeat-x;

}

#wrap{
  width:900px;
  margin:0px auto 15px auto;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:20px;
  color:#ffffff;
}
/*header*/
#header{
  height:242px;
  background:url("https://raw.githubusercontent.com/vandalisaattori/www2018/master/images/header.jpg") no-repeat left top;
  clear:both;
}

/*header menu*/ 
#topmenu{
  display:block;
  list-style:none;
  padding:0 0px 0px 278px;
  float:right;
  width:415px;
  
}
#topmenu li{
  display:inline;

}
#topmenu a {
  display:block;
  float:left;
  height:28px;
  margin:0px 0px 0px 0px; 
  text-decoration:none;
  padding:9px 15px 0px 15px; 
  text-align:center;
}
#topmenu a, #topmenu a:visited, #topmenu a:active {
  color:#FFFFFF;
}
#topmenu a:hover{
  color:#FFFFFF;
  background-color: #D6BEAA;
}
#topmenu .active a, #topmenu .active a:visited, #topmenu .active a:active {
  color:#FFDAB9;
  background-color: #D2B48C;
}
/*Content*/
#content { 
background-color:#FFEFD5;
}
#mainpage {
  width:700px;
  float:left;
  padding: 5px 5px 5px 0px;
  height:auto;
}
#mainpage p {
  line-height:22px;
  margin:10px 0px 22px 0px;
  text-align: justify;
}
#mainpage blockquote{
background:#D8BFD8;
  display:block;
  margin:5px;
  font:Georgia;
  font-style:italic;
}
h1,h2,h3,h4,h5{
  color:#16525E;
  font-weight: bold;
  font-family:Papyrus, sans-serif;
}
#mainpage h1 {
  font-size:24px;
  color:#8C8F90
}
#mainpage h2{
  font-size:18px;
  padding-top:20px;
  padding-bottom:5px;
  border-bottom:1px solid #B52E10;
}
#mainpage h3{
  font-size:20px;
}
#mainpage h4{
  font-size:18px
}
#mainpage h5{
  font-size: 16px;
}
#footer{
  margin:0 auto;
  width:685px;
  height:20px;
  padding:10px;
  color:#FFFFFF;
  text-align: center;
  background:#333333;
  font-family: Verdana, Arial, Helvetica,sans-serif;
  font-size:11px;
  clear:both;
}
#topbar{
height:78px;
}
table {
border-spacing:5px;
}
table, th, td{
    border:1px, solid, black;
  border-collapse: collapse;
  padding: 15px;
  }
th {
text-align: left;
}
